@import 'https://fonts.googleapis.com/css?family=BioRhyme|Black+Ops+One|Bungee|Bungee+Shade|Monoton';

html {
  background: radial-gradient(#000, #111);
  color: red;
  user-select: none;
}

.container {
  padding-top: 1%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-around;
}

.presenting {
  order: 1;
  flex-grow:1;
  font-family: 'Bungee', cursive;
  font-size: 1.4em;
  width: 350px;
  color: #0020FF;
  padding-bottom: 2%;
  animation: noise-3 1s linear infinite;
}

.title {
  order: 2;
  flex-grow: 1;
  flex-basis: content;
  font-family: 'Bungee', cursive;
  font-size: 5.4em;
  font-style: italic;
  width: 350px;
  line-height: 60px;
  animation: noise 2s linear infinite;
  overflow: default;
}

.title:after {
  content: 'The Secret Room';
  font-size: 1.02em;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 .2s linear infinite;
}

.title:before {
  content: 'The Secret Room';
  font-size: 1.01em;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 .2s linear infinite;
}

.info {
  order: 3;
  flex-grow:1;
  font-family: 'Bungee', cursive;
  font-size: 1.6em;
  font-style: italic;
  color: orange;
  padding-top: 1%;
  animation: noise-3 1s linear infinite;
}

.featuring {
  order: 4;
  flex-grow:1;
  font-family: 'Bungee', cursive;
  font-size: 1.4em;
  width: 350px;
  padding-top: 3%;
  color: #0020FF;
  animation: noise-3 1s linear infinite;
}

.djList {
  order: 5;
  flex-grow:1;
  font-family: 'Bungee', cursive;
  font-size: 1.9em;
  width: 350px;
  padding-top: 1%;
  color: red;
  animation: noise-3 1s linear infinite;
}

.atTheRate {
  order: 6;
  flex-grow:1;
  font-family: 'Bungee', cursive;
  font-size: 1.4em;
  width: 350px;
  padding-top: 2%;
  color: #0020FF;
  animation: noise-3 1s linear infinite;
}

.address {
  order: 7;
  flex-grow:1;
  font-family: 'Bungee', cursive;
  font-size: 1.0em;
  width: 350px;
  padding-top: 2%;
  color: #E94B30;
  animation: noise-3 1s linear infinite;
}

.timings {
  font-size: 1.5em;
  color: crimson;
  text-decoration: underline wavy red;
}

a {
 text-decoration: underline wavy red;
}

a:link    { color: blue }  /* unvisited links */
a:visited { color: #E94B30 }  /* visited links   */
a:hover   { color: red }  /* user hovers     */
a:active  { color: crimson }  /* active links    */

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}